#!/bin/bash

# include vars and functions
source ~/.config/dotfiles/include.sh

{{  if eq .osid "darwin" -}}

# update homebrew and installed formulae
bdb_command "Upgrading Homebrew formulae"
brew upgrade
bdb_success "upgrading Homebrew formulae"

# remove extra formulae
#brew bundle --cleanup --file=.config/homebrew/brewfile
# remove dead dependencies
#brew autoremove
# empty cache
#brew cleanup --prune=all

# Upgrade PyPI packages
bdb_command "Upgrading Python packages"
pipx upgrade-all
bdb_success "Upgrading Python packages"

{{  else if eq .osid "windows" -}}

{{  else if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") -}}

# Upgrade APT packages
bdb_command "Running package maintenance"
sudo -- bash -c 'apt update && apt full-upgrade -y && apt autoremove --purge -y && apt clean -y'
bdb_success "running package maintenance"

# Upgrade Chezmoi
bdb_command "Upgrading Chezmoi"
chezmoi upgrade
bdb_success "upgrading Chezmoi"

{{  else if eq .osid "linux-arch" -}}

bdb_command "Running package maintenance"
sudo -- bash -c 'pacman -Syu --noconfirm && pacman -Qdtq --noconfirm | pacman -Rns --noconfirm - && pacman -Scc --noconfirm'
bdb_success "running package maintenance"

{{  else if eq .osid "linux-fedora" -}}

{{  end -}}

# update zsh plugins
bdb_command "Upgrading Antigen"
antigen_dir="${HOME}/.antigen"
[[ -d "${antigen_dir}" ]] && rm -rf "${antigen_dir}"
mkdir -p "${antigen_dir}"
git clone https://github.com/zsh-users/antigen.git "${antigen_dir}"
bdb_success "upgrading Antigen"

# update vim plugins
#curl -fLo "${HOME}"/.vim/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
#vim -es -u "${HOME}"/.vimrc -i NONE -c "PlugInstall" -c "qa"