{{- /* Detect OS and distro */ -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-     $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- /* Create list of required packages for Linux */ -}}
{{- $packages := list
    "bat"
    "curl"
    "tmux"
    "git"
    "tree"
    "vim"
    "wget"
    "zsh" -}}
{{- if or (eq $osid "linux-debian") (eq $osid "linux-ubuntu") -}}
{{-     $packages = concat $packages (list
            "gpg"
            "python3") -}}
{{- else if eq $osid "linux-arch" -}}
{{-     $packages = concat $packages (list
            "ansible"
            "gnupg"
            "moreutils"
            "python"
            "terraform") -}}
{{- else if eq $osid "linux-fedora" -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    email = "ing.norville@protonmail.com"

[scriptEnv]
    INCLUDES = "~/.config/dotfiles/include.sh"
    PACKAGES = {{ $packages | join " " | quote }}
