# Ignore everything in repo's root
/*

# Un-ignore root's content
!.bashrc
!.dfconf.d
!.gitconfig
!.gitignore
!.mackup.cfg
!.vim
!.vimrc
!.zsh
!.zshrc
!bin
!code

# Ignore specific items inside repo
.vim/bundle/*
code/*

# un-ignore specific items inside repo
!code/README.md
