# Ignore everything in repo's root
/*

# Un-ignore repo's content
!.bashrc
!.dfconf.d
!.gitconfig
!.gitignore
!.mackup.cfg
!.vim
!.vimrc
!.zsh
!.zshrc
!bin
!code/README.md

# Ignore specific items inside repo
.vim/bundle/*
