[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[user]
    name = norville
    email = ing.norville@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitcfg/gitignore_global
[color]
    ui = auto
[status]
    submoduleSummary = true
