###############################################################################

### GLOBAL SETTINGS ###########################################################

# Uncomment the following line to use case-sensitive completion.
CASE_SENSITIVE="true"

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="dd/mm/yyyy"

# Set default editor
export EDITOR='vim'

# Set AUTO_CD
setopt AUTO_CD

###############################################################################

### PATH ######################################################################

typeset -U path PATH
if [ -d "$HOME/.bin" ] ;
  then path=(~/.bin $path)
fi
if [ -d "$HOME/.local/bin" ] ;
  then path=(~/.local/bin $path)
fi
if [ -d "$HOME/.cargo/bin" ] ;
  then path=(~/.cargo/bin $path)
fi

{{- if eq .osid "darwin" }}

# configure homebrew path and completions for zsh
BREW_PREFIX=$(brew --prefix)
export FPATH=${BREW_PREFIX}/share/zsh/site-functions:${FPATH}
PATH="${BREW_PREFIX}/opt/curl/bin:${PATH}"
PATH="${BREW_PREFIX}/opt/sqlite/bin:${PATH}"
PATH="${BREW_PREFIX}/opt/ruby/bin:${PATH}"
PATH="${BREW_PREFIX}/lib/ruby/gems/3.0.0/bin:${PATH}"

# required by pipx
PATH="$PATH:/Users/bassa/.local/bin"

{{- else if eq .osid "windows" }}

{{- else }}

{{- end }}

export PATH

###############################################################################

### PLUGINS ###################################################################

[[ -f ${HOME}/.zsh/plugins.zsh ]] && . ${HOME}/.zsh/plugins.zsh

###############################################################################

### SECRETS ##################################################################

[[ -f ${HOME}/.zsh/secrets.zsh ]] && . ${HOME}/.zsh/secrets.zsh

###############################################################################

### ENVIRONMENTS ##############################################################

# load node
[[ -f /usr/share/nvm/init-nvm.sh ]] && . /usr/share/nvm/init-nvm.sh

###############################################################################

### ALIASES ###################################################################

# use eza instead of ls
alias ls='eza --icons'
alias la='ls --long --all --no-permissions --octal-permissions --group --smart-group'
alias ll='ls --long --no-permissions --no-filesize --no-user --no-time'
alias lt='ls --long --no-permissions --no-filesize --no-user --no-time --tree'
alias lr='ls --long --no-permissions --no-filesize --no-user --reverse --sort=newest'
alias lz='ls --long --no-permissions --no-user --no-time --reverse --sort=size'

###############################################################################
