#!/bin/bash

# include global vars and functions
source "${INCLUDES}"

{{  if eq .chezmoi.os "linux" -}}
# Linux packages
bdb_command "Installing Linux packages"
packages=("bat" "curl" "eza" "git" "vim" "wget" "zsh")

{{-      if eq .osid "linux-ubuntu" }}
# install required APT packages
apt_packages=("build-essential" "gpg" "snapd")
sudo apt update
sudo apt install -y "${packages[@]}" "${apt_packages[@]}"
# install ghostty via snap
sudo snap install ghostty --classic

{{-      else if (or (eq .osid "linux-arch") (eq .osid "linux-manjaro")) }}
# install required ARCH packages
arch_packages=("base-devel" "gnupg" "ghostty")
sudo pacman -Syu --needed --noconfirm "${packages[@]}" "${arch_packages[@]}"
# install yay via AUR
sudo pacman -S --needed git base-devel && \
    git clone https://aur.archlinux.org/yay.git && \
    cd yay && makepkg -si --noconfirm

{{-      end }}

bdb_success "installing Linux packages"

{{- else if eq .osid "darwin" }}
# macos packages

{{-  else if eq .osid "windows" -}}
# Windows packages

{{-  end }}
