#!/bin/bash

{{ if eq .osid "darwin" -}}

{{ else if eq .osid "linux-ubuntu" -}}

{{ else if eq .osid "linux-fedora" -}}

{{ else if eq .osid "linux-arch" -}}

{{ end -}}

# update zsh plugins
antigen_dir="${HOME}/.antigen"
[[ -d "${antigen_dir}" ]] && rm -rf "${antigen_dir}"
mkdir -p "${antigen_dir}"
git clone https://github.com/zsh-users/antigen.git "${antigen_dir}"

# update vim plugins
curl    -fLo "${HOME}"/.vim/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
vim -es -u "${HOME}"/.vimrc -i NONE -c "PlugUpdate" -c "qa"

# TODO
#
# 1. generate ssh keys for proxmox + github
# 2. update terminal fonts
# 3. update terminal colors
