#!/bin/bash

# Source helper functions
source "${HELPERS}"

# Ensure strict error handling
# -e: exit on error
# -u: treat unset variables as an error
# -o pipefail: return the exit status of the last command in the pipeline that failed
# -x: print commands and their arguments as they are executed (for debugging)
set -euo pipefail

# Trap errors and call handler
trap 'bdb_handle_error' ERR

# --- Begin: Optional Packages Installation ---
bdb_info_in "Chezmoi init: install optional packages"

# Prompt user for 1Password installation
if bdb_ask "Do you want to install 1Password?"; then

    bdb_command "Installing 1Password"

    {{- if eq .osid "linux-manjaro" }}

    # Arch/Manjaro: install 1Password from AUR
    yay -S --noconfirm 1password 1password-cli

    {{- end }}

    bdb_success "installing 1Password"

else

    bdb_alert "Skipping 1Password installation"

fi

# --- End: Optional Packages Installation ---
bdb_info_out "Chezmoi init: optional packages installed"
