#!/bin/bash

# include global vars and functions
source "${INCLUDES}"

{{  if eq .chezmoi.os "linux" -}}
bdb_command "Installing Linux packages"

{{-      if eq .osid "linux-ubuntu" }}
# install required APT packages
sudo apt update
sudo apt install -y $PACKAGES
# install ghostty via snap
sudo snap install ghostty --classic

{{-      else if (or (eq .osid "linux-arch") (eq .osid "linux-manjaro")) }}
# update the system and install required packages
sudo pacman -Syu --needed --noconfirm $PACKAGES
# install yay via AUR
sudo pacman -S --needed git base-devel && \
    git clone https://aur.archlinux.org/yay.git && \
    cd yay && makepkg -si --noconfirm

{{-      else if eq .osid "linux-fedora" }}
# update the system and install required packages
sudo dnf -y upgrade && sudo dnf -y install $PACKAGES

{{-      end }}
bdb_success "installing Linux packages"

{{- else if eq .osid "darwin" }}

{{  else if eq .osid "windows" -}}
{{  end -}}
