#!/bin/bash

# include global vars and functions
source "${BDB_HELPERS}"

bdb_info_in "Chezmoi init: install required packages"

{{  if eq .chezmoi.os "linux" -}}

{{/*    Linux packages */}}
{{      $packages := list
            "bat"
            "curl"
            "eza"
            "git"
            "vim"
            "wget"
            "zsh" -}}

bdb_command "Installing Linux packages"

{{-     if eq .osid "linux-ubuntu" }}

{{/*        APT packages */}}
{{          $packages = mustAppend $packages
                "build-essential"
                "gpg" -}}

sudo apt update
sudo apt install -y {{ $packages | join " " }}
# install ghostty via snap
sudo snap install ghostty --classic
bdb_success "installing APT packages: {{ $packages | join " " }}"

{{-     else if (or (eq .osid "linux-arch") (eq .osid "linux-manjaro")) }}

{{/*        PACMAN packages */}}
{{          $packages = mustAppend $packages
                "base-devel"
                "gnupg"
                "ghostty" -}}

sudo pacman -Syu --needed --noconfirm {{ $packages | join " " }}
# install yay via AUR
git clone https://aur.archlinux.org/yay.git && cd yay && makepkg -si --noconfirm

{{-     end }}

bdb_success "installing Linux packages"

{{- else if eq .osid "darwin" }}

{{/* macOS packages */}}
#bdb_command "Installing macOS packages"
# do install
#bdb_success "installing macOS packages"

{{- else if eq .osid "windows" -}}

{{/* Windows packages */}}
#bdb_command "Installing Windows packages"
# do install
#bdb_success "installing Windows packages"

{{- end }}

bdb_info_out "Chezmoi init: required packages installed"
