#!/bin/bash

# include global vars and functions
source "${HELPERS}"

# Ensure strict error handling
# -e: exit on error
# -u: treat unset variables as an error
# -o pipefail: return the exit status of the last command in the pipeline that failed
# -x: print commands and their arguments as they are executed (for debugging)
set -euo pipefail

# Trap errors and call handler
trap 'bdb_handle_error' ERR

bdb_info_in "Chezmoi init: install required packages"

{{  if eq .chezmoi.os "linux" -}}

{{/*    Linux packages */}}
{{      $packages := list
            "bat"
            "curl"
            "git"
            "kitty"
            "vim"
            "wget"
            "zsh" -}}

{{-     if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu")) }}

{{/*        APT packages */}}
{{          $packages = concat $packages (list
                "build-essential"
                "fd-find"
                "fzf"
                "gpg"
                "lazygit"
                "ripgrep"
                "tree-sitter"
            ) -}}

bdb_command "Installing APT packages: {{ $packages | join ", " }}"
sudo apt-get install -y {{ $packages | join " " }}
bdb_success "installing APT packages"

bdb_command "Installing Eza"
sudo mkdir -p /etc/apt/keyrings
wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/eza.list
sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/eza.list
sudo apt-get update
sudo apt-get install -y eza
bdb_success "installing Eza"

{{-         if eq .osid "linux-ubuntu" }}

{{/*        UBUNTU packages */}}
bdb_command "Installing LazyVim"
sudo add-apt-repository ppa:neovim-ppa/stable
sudo apt-get update
sudo apt-get install neovim

{{-         end }}

{{-     else if (or (eq .osid "linux-arch") (eq .osid "linux-manjaro")) }}

{{/*        PACMAN packages */}}
{{          $packages = concat $packages (list
                "base-devel"
                "btop"
                "eza"
                "fd"
                "fzf"
                "gnupg"
                "lazygit"
                "neovim"
                "ripgrep"
            ) -}}

bdb_command "Installing PACMAN packages: {{ $packages | join ", " }}"
sudo pacman -S --needed --noconfirm {{ $packages | join " " }}
bdb_success "installing PACMAN packages"

# install yay
bdb_command "Installing yay"
git clone https://aur.archlinux.org/yay.git && cd yay && makepkg -si --noconfirm
bdb_success "installing yay"

{{-     end }}
{{- end }}

bdb_info_out "Chezmoi init: required packages installed"
