{{- if eq .osid "darwin" -}}
#!/bin/bash

# update the system
sudo oftwareupdate -i -a --agree-to-license

# install Comman Line Tools if missing
if  ! type xcode-select &>/dev/null || \
    ! clt_path="$(xcode-select --print-path &>/dev/null)" || \
    ! test -d "${clt_path}" || \
    ! test -x "${clt_path}"; then

    sudo softwareupdate -i "$(  sudo softwareupdate -l | \
                                grep '*.*Command Line' | \
                                awk -F ":" '{print $2}' | \
                                sed -e 's/^ *//' | \
                                tr -d '\n' \
                            )" --agree-to-license

# install Homebrew if missing
type brew &>/dev/null || NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL \
            https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

# sign in into Mac App Store
type mas &>/dev/null || brew install mas
mas signin {{- .email_mac | quote }}

# install required packages
#brew bundle install --file=""

{{- else if eq .osid "linux-ubuntu" -}}
#!/usr/bin/bash

# update the system
sudo apt update && sudo apt full-upgrade -y && sudo apt autoremove -y && sudo apt autoclean -y

# install required packages
sudo apt install -y {{ .packages }}

{{- else if eq .osid "windows" }}

# windows

{{- end }}
