#!/bin/bash

# Source helper functions
source "${HELPERS}"

# --- Begin: Environment Update ---
bdb_info_in "Chezmoi init: update environment"

{{  if eq .osid "darwin" -}}
# macOS: Homebrew maintenance
if bdb_ask "Do you want to remove extra Homebrew formulae"; then
    bdb_command "Removing extra Homebrew formulae"
    brew bundle cleanup -f --file=.config/homebrew/brewfile
    brew autoremove
    brew cleanup --prune=all
    bdb_success "removed extra Homebrew formulae"
fi
# Update Homebrew and installed formulae
bdb_command "Upgrading Homebrew formulae"
brew update && brew upgrade
bdb_success "upgrading Homebrew formulae"

{{  else if eq .osid "windows" -}}
# Windows: (add update steps if needed)

{{  else if eq .chezmoi.os "linux" -}}
# Linux: package manager maintenance
bdb_command "Running package maintenance"
{{      if (or (eq .osid "linux-debian") (eq .osid "linux-ubuntu")) -}}
# Debian/Ubuntu: upgrade and clean APT packages
sudo -- bash -c 'apt update && apt full-upgrade -y && apt autoremove --purge -y && apt clean -y'
{{      else if (or (eq .osid "linux-arch") (eq .osid "linux-manjaro")) -}}
# Arch/Manjaro: upgrade and clean pacman packages
sudo -- bash -c 'pacman -Syu --noconfirm && pacman -Qdtq --noconfirm | ifne pacman -Rns --noconfirm - && pacman -Scc --noconfirm'
{{      end -}}
bdb_success "running package maintenance"
{{  end -}}

# Update zsh plugins (Antigen)
bdb_command "Upgrading Antigen"
antigen_dir="${HOME}/.antigen"
[[ -d "${antigen_dir}" ]] && rm -rf "${antigen_dir}"
mkdir -p "${antigen_dir}"
git clone https://github.com/zsh-users/antigen.git "${antigen_dir}"
bdb_success "upgrading Antigen"

# Update vim plugins
bdb_command "Upgrading Vim plugins"
vim -e -s -u "${HOME}"/.vimrc -i NONE +"PlugUpdate" +"qa"
bdb_success "upgrading Vim plugins"

# --- End: Environment Update ---
bdb_info_out "Chezmoi init: environment update complete"
