### Options

## Shell
command = zsh
shell-integration = zsh
shell-integration-features = no-cursor,sudo,title # disable cursor shell integration to force blinking

## Windows (not the OS)
window-padding-balance = true
window-padding-x = 5
window-padding-y = 5
window-save-state = always
unfocused-split-opacity = 0.25

{{- if eq .osid "linux-arch" }}
adw-toolbar-style = raised-border
gtk-adwaita = true
gtk-titlebar = false
gtk-wide-tabs = false
window-decoration = server
window-height = 57
window-width = 118

{{- else if eq .osid "darwin" }}
background-blur-radius = 15
background-opacity = 0.95
macos-titlebar-style = tabs
window-height = 60
window-width = 126

{{- end }}

## Cursor
cursor-style = block
cursor-style-blink = true
cursor-click-to-move = false

## Font
font-family = "JetBrains Mono"

{{- if eq .osid "linux-arch" }}
font-size = 10

{{- else if eq .osid "darwin" }}
font-size = 16

{{- end }}

## Mouse
mouse-hide-while-typing = true

## Colors
theme = tokyonight
bold-is-bright = true
background = #1a1b26
foreground = #c0caf5
selection-background = #33467c
selection-foreground = #c0caf5
cursor-color = #c0caf5
cursor-text = #15161e

{{- if eq .osid "linux-arch" }}
window-titlebar-background = #15161e
unfocused-split-fill = #1a1b26
split-divider-color = #15161e
{{- end -}}

palette = 0=#15161e
palette = 1=#f7768e
palette = 2=#9ece6a
palette = 3=#e0af68
palette = 4=#7aa2f7
palette = 5=#bb9af7
palette = 6=#7dcfff
palette = 7=#a9b1d6
palette = 8=#414868
palette = 9=#f7768e
palette = 10=#9ece6a
palette = 11=#e0af68
palette = 12=#7aa2f7
palette = 13=#bb9af7
palette = 14=#7dcfff
palette = 15=#c0caf5

{{- if eq .osid "linux-ubuntu" -}}

{{- else if eq $osid "linux-fedora" -}}

{{- else if eq .osid "windows" -}}

{{- end -}}

### Keybinds

## Terminal
#keybind = super+w=close_surface
#keybind = super+k=clear_screen
#keybind = super+alt+i=inspector:toggle
keybind = super+ctrl+r=reset                # reset terminal
#keybind = super+shift+comma=reload_config

## Font
#keybind = super+equal=increase_font_size:1
#keybind = super+plus=increase_font_size:1
#keybind = super+minus=decrease_font_size:1
#keybind = super+zero=reset_font_size

## Splits
keybind = super+d=ignore                          # ignore default keybind for vertical split
keybind = super+shift+v=new_split:right           # remap default keybind for vertical split
keybind = super+shift+d=ignore                    # ignore default keybind for horizontal split
keybind = super+shift+h=new_split:down            # remap default keybind for horizontal split
#keybind = super+ctrl+left=resize_split:left,10
#keybind = super+ctrl+right=resize_split:right,10
#keybind = super+ctrl+up=resize_split:up,10
#keybind = super+ctrl+down=resize_split:down,10
#keybind = super+ctrl+equal=equalize_splits
#keybind = super+alt+left=goto_split:left
#keybind = super+alt+right=goto_split:right
#keybind = super+alt+up=goto_split:top
#keybind = super+alt+down=goto_split:bottom
#keybind = super+left_bracket=goto_split:previous
#keybind = super+right_bracket=goto_split:next
#keybind = super+shift+enter=toggle_split_zoom

## Tabs
#keybind = super+t=new_tab
keybind = ctrl+shift+tab=ignore                 # ignore default keybind for previous tab
keybind = super+shift+left_bracket=previous_tab # remap default keybind for previous tab
keybind = ctrl+tab=ignore                       # ignore default keybind for next tab
keybind = super+shift+right_bracket=next_tab    # remap default keybind for next tab
keybind = super+ctrl+left_bracket=move_tab:-1
keybind = super+ctrl+right_bracket=move_tab:1
#keybind = super+physical:nine=last_tab

## Windows
#keybind = super+n=new_window
#keybind = super+shift+w=close_window
#keybind = super+alt+shift+w=close_all_windows
keybind = super+enter=ignore                    # ignore default keybind to toggle fullscreen
keybind = super+ctrl+f=toggle_fullscreen        # remap default keybind to toggle fullscreen

## Selection
#keybind = shift+left=adjust_selection:left
#keybind = shift+right=adjust_selection:right
#keybind = shift+up=adjust_selection:up
#keybind = shift+down=adjust_selection:down
#keybind = shift+page_up=adjust_selection:page_up
#keybind = shift+page_down=adjust_selection:page_down
#keybind = shift+home=adjust_selection:home
#keybind = shift+end=adjust_selection:end
keybind = super+alt+shift+s=write_selection_file:open # paste selection content to a temp file and open it with default editor
keybind = super+shift+s=write_selection_file:paste    # paste selection temp file path into terminal

## Scroll
#keybind = super+shift+down=jump_to_prompt:1
#keybind = super+page_up=scroll_page_up
#keybind = super+page_down=scroll_page_down
#keybind = super+home=scroll_to_top
#keybind = super+end=scroll_to_bottom
#keybind = super+alt+shift+j=write_scrollback_file:open
#keybind = super+shift+j=write_scrollback_file:paste

## Escape sequences
keybind = alt+tab=ignore          # ignore sequence
#keybind = alt+left=esc:b
#keybind = alt+right=esc:f
#keybind = super+backspace=esc:
#keybind = super+left=text:\x01
#keybind = super+right=text:\x05
