Host *

{{- if eq .chezmoi.os "darwin" }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else if eq .chezmoi.os "linux" }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}
    IdentitiesOnly yes  # use only specified keys, even if ssh-agent offers more identities

Host jiraya
    Port 25355
    User norville
    IdentityFile ~/.ssh/norville_at_chikyu.pub
    ForwardAgent yes

Host gitea
    HostName 10.0.1.25
    Port 22
    User gitea
    IdentityFile ~/.ssh/norville_at_gitea.pub

Host *.chikyu.lan
    Port 25355
    User norville
    IdentityFile ~/.ssh/norville_at_chikyu.pub

Host github.com
    IdentityFile ~/.ssh/norville_at_github.pub
