Host *
    IdentitiesOnly yes  # use only specified keys, even if ssh-agent offers more identities
    AddKeysToAgent yes  # enter passphrase only on first use (REQUIRED by omz:ssh-agent plugin)

{{- if eq .osid "darwin" }}
    # Required for macOS 10.12+
    # Automatically load macOS ssh-agent and store passphrases in Keychain Access
    UseKeychain yes
{{- end }}

Host gitlab.com
    IdentityFile ~/.ssh/norville_at_gitlab

Host github.com
    IdentityFile ~/.ssh/norville_at_github

Host basnas baspve basphl basphl-2 basunf baspms apt-cacher basdev bashmb bastux
    Port 25355
    User norville
    IdentityFile ~/.ssh/norville_at_basnet

Host vsbasdev
    HostName 10.0.1.26
    Port 25355
    User dev
    IdentityFile ~/.ssh/dev_at_basnas

