{{ if eq .osid "darwin" -}}

# Required for macOS 10.12+
# Automatically load macOS ssh-agent and store passphrases in Keychain Access
Host *
    AddKeysToAgent yes
    UseKeychain yes

{{ end -}}

Host gitlab.com
    IdentityFile ~/.ssh/norville_at_gitlab

Host github.com
    IdentityFile ~/.ssh/norville_at_github

Host *.basnet.lan
    Port 25355
    User norville
    IdentityFile ~/.ssh/norville_at_basnet
