{{- /* -------------------------------------------------------------------- */ -}}
{{- /* SSH public key: norville_at_github                                   */ -}}
{{- /* 1Password path: op://Personal/<item>/public key                      */ -}}
{{- /* Adjust vault and item name to match your 1Password setup             */ -}}
{{- /* -------------------------------------------------------------------- */ -}}
{{- onepasswordRead "op://Private/norville_at_github/public key" }}
