[user]
    name = {{ .name }}
    email = {{ .email }}
[core]
    editor = vim
    pager = delta
    excludesfile = ~/.config/git/ignore
[init]
    defaultBranch = main
[status]
    submoduleSummary = true
    showUntrackedFiles = normal
[color]
    ui = auto
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[interactive]
    diffFilter = delta --color-only
[include]
    path = ~/.config/delta/tokyonight_moon.gitconfig
[delta]
    navigate = true       # Use n and N to move between diff sections
    line-numbers = true   # Show line numbers
    side-by-side = true   # Show diffs side-by-side
[merge]
    conflictStyle = zdiff3