// ────────────── Input ──────────────
input {
    workspace-auto-back-and-forth
    touchpad                      { off; }
    trackpoint                    { off; }
    mouse                         { natural-scroll; }
    keyboard {
        // 'us' layout + deadkeys for international characters
        xkb {
            layout                "us"
            model                 "pc105"
            variant               "altgr-intl"
            options               "eurosign:5"
        }
    }
}
