# Formulae
{{- range .package }}
  {{- if and (has "workstation" .machines) (has "brew-formula" .managers) }}
brew "{{ .name }}"
  {{- end }}
{{- end }}

# Casks
{{- range .package }}
  {{- if and (has "workstation" .machines) (has "brew-cask" .managers) }}
cask "{{ .name }}"
  {{- end }}
{{- end }}
