import = [
    "~/.config/alacritty/themes/one_dark.toml", # Import theme
]

[env]
TERM = "xterm-256color"

[window]
{{- if eq .osid "darwin" }}
blur            = true
decorations     = "Buttonless"
option_as_alt   = "both"
{{- end }}
opacity         = 0.85
[window.dimensions]
columns         = 100
lines           = 50
[window.padding]
x               = 10
y               = 10

[cursor.style]
blinking    = "On"
[cursor.vi_mode_style]
shape       = "Beam"
blinking    = "On"

[font]
size    = 16
[font.normal]
{{- if eq .osid "darwin" }}
family  = "MesloLGS Nerd Font Mono"
{{- else if .osid "linux" }}
family  = "MesloLGS NF"
{{- end }}

[colors]
draw_bold_text_with_bright_colors = true

[keyboard]
bindings = [
    #{ key = "N", mods = "Control|Shift", action = "CreateNewWindow" },
]

