"*":
  "atom-material-ui":
    colors: {}
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      blendTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "angularjs"
      "vim-mode"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/bassa/dev"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "80335484-d43d-677e-01a2-35925a04eb78"
  fonts:
    fontFamily: "Roboto Mono"
  minimap: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "sync-settings":
    _analyticsUserId: "76018be9-c217-41c6-a0d2-1dba7650f5c5"
    _lastBackupHash: "8f7d65ca72afb631461b139fe57a12b6fb39496d"
    gistId: "160d46703499bcf4cc48a6ec559e4344"
    personalAccessToken: "ada2fa47a3eb0c9ca8e4c559ad71647dbfca2f00"
  "tree-view":
    showOnRightSide: true
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    autoIndentOnPaste: true
