"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b77394bf-c246-4811-ad91-047c8512c588"
  "atom-material-ui":
    colors: {}
    fonts:
      fontSize: 12
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      blendTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-python":
    useKite: false
  core:
    openEmptyEditorOnStart: false
    projectHome: "/Users/bassa/dev"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "polls"
    ]
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "80335484-d43d-677e-01a2-35925a04eb78"
  fonts:
    fontFamily: "Roboto Mono"
  "linter-ui-default":
    panelHeight: 145
    showPanel: true
  minimap: {}
  "tree-view":
    showOnRightSide: true
  "vim-mode-plus":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    autoIndentOnPaste: true
