bat
curl
git
tmux
tree
vim
wget
zsh
{{ if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") -}}
gpg
python3
{{ else if eq .osid "linux-arch" -}}
gnupg
python
{{ else if eq .osid "linux-fedora" -}}
{{ end -}}