alacritty
bat
curl
git
gpg
python3
tmux
tree
vim
wget
zsh
{{ if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") -}}
python3-autopep8
python3-dev
python3-flake8
python3-mccabe
python3-pip
python3-protobuf
python3-proxmoxer
python3-pycodestyle
python3-pyflakes
python3-toml
python3-venv
{{ else if eq .osid "linux-arch" -}}
python-pip
{{ else if eq .osid "linux-fedora" -}}
python3-devel
python3-pip
python3-wheel
{{ end -}}
